@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1210; /* classical-dark */
  color: #E3D5CA; /* classical-sand */
  scroll-behavior: smooth;
  background-image: radial-gradient(circle at 50% 0%, #3E2415 0%, transparent 70%);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1A1210;
}
::-webkit-scrollbar-thumb {
  background: #E5A937;
  border-radius: 3px;
}